/* Colors base
 * This css setup is for create a color theme customization
 * based on custom properties (a.k.a CSS Variables).
*/

:root {
  /*
  * Default light colors
  */
  --black: #000000;
  --darker: #2a2a2a;
  --jet: #323232;
  --silver: #878787;
  --platinum: #dfdfdf;
  --white: #ffffff;
  --ghost-base: var(--white);
  --ghost-contrast: #f4f4f4;
  --ghost-1: #f4f4f4;
  --ghost-2: #d6d6d6;
  --ghost-3: #5b5c58;

  --glass-base: rgba(255, 255, 255, 0.64);
  --glass-1: rgba(225, 225, 225, 0.64);
  --glass-2: rgba(255, 255, 255, 0.9);

  --primary: var(--jet);
  --primary-hover: #64686b;
  --text-above-primary: var(--white);
  --text-above-primary-hover: var(--white);

  /* Secondary
   * Add the secondary color is you need it.
  */
  --secondary: #000000;
  --secondary-light: #000000;
  --secondary-dark: #000000;
  --secondary-darker: #000000;
  --secondary-opacity: #00000030;
  --secondary-hover: var(--secondary-dark);
  --text-above-secondary: var(--white);
  --text-above-secondary-hover: var(--white);
  /* END Secondary */

  /* Tertiary
   * Add the tertiary color is you need it.
  */
  --tertiary: #000000;
  --tertiary-light: #000000;
  --tertiary-dark: #000000;
  --tertiary-darker: #000000;
  --tertiary-opacity: #00000030;
  --tertiary-hover: var(--tertiary-dark);
  --text-above-tertiary: var(--white);
  --text-above-tertiary-hover: var(--white);
  /* END Tertiary */

  --success: #37de7d;
  --success-light: #a6ffcc;
  --success-dark: #36b36c;
  --success-darker: #1f6630;
  --success-opacity: #36b36c60;
  --success-hover: var(--success-dark);
  --text-above-success: var(--success-darker);
  --text-above-success-hover: var(--white);

  --warning: #ffdd33;
  --warning-light: #fff0a6;
  --warning-dark: #ccb129;
  --warning-darker: #806f19;
  --warning-opacity: #806f1930;
  --warning-hover: var(--warning-dark);
  --text-above-warning: var(--warning-darker);
  --text-above-warning-hover: var(--white);

  --error: #ff3333;
  --error-light: #ffb3b3;
  --error-dark: #cc2929;
  --error-darker: #661414;
  --error-opacity: #8f0f0f30;
  --error-hover: var(--error-dark);
  --text-above-error: var(--white);
  --text-above-error-hover: var(--white);

  --link-color: var(--primary);
  --link-visited-color: var(--primary);
  --link-hover-color: var(--jet);

  --text-color: var(--jet);
  --text-secondary-color: var(--silver);

  --disabled-bg-color: #888888;
  --disabled-text-color: var(--platinum);

  --border-color: var(--jet);
  --border-color-2: var(--silver);

  --default-ring-color: var(--primary);

  --general-border-radius: 0px;
}

:root body[data-theme='default-dark'] {
  /*
  * Default dark colors
  */
  --black: #000000;
  --darker: #2a2a2a;
  --jet: #323232;
  --silver: #878787;
  --platinum: #dfdfdf;
  --white: #ffffff;
  --ghost-base: #222222;
  --ghost-contrast: var(--darker);
  --ghost-1: var(--jet);
  --ghost-2: #505050;
  --ghost-3: #f0f0f0;

  --glass-base: rgba(40, 40, 40, 0.64);
  --glass-1: rgba(70, 70, 70, 0.64);
  --glass-2: rgba(50, 50, 50, 0.9);

  --primary: var(--white);
  --primary-hover: #c9cccf;
  --text-above-primary: var(--jet);
  --text-above-primary-hover: var(--jet);

  /* Secondary
   * Add the secondary color is you need it.
  */
  --secondary: #000000;
  --secondary-light: #000000;
  --secondary-dark: #000000;
  --secondary-darker: #000000;
  --secondary-opacity: #00000030;
  --secondary-hover: var(--secondary-dark);
  --text-above-secondary: var(--white);
  --text-above-secondary-hover: var(--white);
  /* END Secondary */

  /* Tertiary
   * Add the tertiary color is you need it.
  */
  --tertiary: #000000;
  --tertiary-light: #000000;
  --tertiary-dark: #000000;
  --tertiary-darker: #000000;
  --tertiary-opacity: #00000030;
  --tertiary-hover: var(--tertiary-dark);
  --text-above-tertiary: var(--white);
  --text-above-tertiary-hover: var(--white);
  /* END Tertiary */

  --success: #45e688;
  --success-light: #a6ffcc;
  --success-dark: #36b36c;
  --success-darker: #1f6630;
  --success-opacity: #45e68840;
  --success-hover: var(--success-dark);
  --text-above-success: var(--success-darker);
  --text-above-success-hover: var(--white);

  --warning: #ffdd33;
  --warning-light: #fff0a6;
  --warning-dark: #ccb129;
  --warning-darker: #806f19;
  --warning-opacity: #806f1930;
  --warning-hover: var(--warning-dark);
  --text-above-warning: var(--warning-darker);
  --text-above-warning-hover: var(--white);

  --error: #ff3333;
  --error-light: #ffb3b3;
  --error-dark: #cc2929;
  --error-darker: #661414;
  --error-opacity: #ff000030;
  --error-hover: var(--error-dark);
  --text-above-error: var(--white);
  --text-above-error-hover: var(--white);

  --link-color: var(--primary);
  --link-visited-color: var(--primary);
  --link-hover-color: var(--silver);

  --text-color: var(--platinum);
  --text-secondary-color: var(--silver);

  --disabled-bg-color: #888888;
  --disabled-text-color: var(--platinum);

  --border-color: var(--white);
  --border-color-2: var(--silver);

  --default-ring-color: var(--primary);
}
